-# NAVIGATION 
%nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
  .navigation-fluid
    .logo-and-toggler
      %button#toggle.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand#logo-large{:href => "#"} Benz Parts
    .show-icons-small
      %i.fa.fa-search{"aria-hidden" => "true"}
      %i.fa.fa-shopping-cart{"aria-hidden" => "true"} 
    %form.nav-search
      %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success{:type => "submit"} 
        %i.fa.fa-search{"aria-hidden" => "true"}
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#"} DIY Blog
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Help Me 
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{:href => "#"} Track an order
            %li
              %a.dropdown-item{:href => "#"} Begin a return
            %li
              %a.dropdown-item{:href => "#"} Shipping policy
            %li
              %a.dropdown-item{:href => "#"} Wholesale
            %li
              %a.dropdown-item{:href => "#"} Contact our Service Team 
            %li
              %a.dropdown-item{:href => "#"} FAQ
            %li
              %a.dropdown-item{:href => "#"} Careers
            %li
              %a.dropdown-item{:href => "#"} COVID-19 Update
            %li
              %a.dropdown-item{:href => "#"} High Contrast Mode  
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            My Account
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{:href => "#"} View Account
            %li
              %a.dropdown-item{:href => "#"} Sign In 
      .show-icons-large
        %i.fa.fa-shopping-cart{"aria-hidden" => "true"} 

.guarantee-bar 
  .guarantee-item 
    %i.fa.fa-shopping-cart{"aria-hidden" => "true"} 
    %span Free Shipping Over $49
  .guarantee-item
    %i.fa.fa-shopping-cart{"aria-hidden" => "true"} 
    %span Hassle-Free Returns 
  .guarantee-item
    %i.fa.fa-shopping-cart{"aria-hidden" => "true"} 
    %span Lifetime Replacement 

-# MINI PARTS BAR 
.mini-parts-bar 
  .parts-item 
    %span Mercedes Parts 
  .parts-item 
    %span Mercedes Parts 
  .parts-item 
    %span Mercedes Parts 
  .parts-item 
    %span Mercedes Parts 
  .parts-item 
    %span Mercedes Parts 



-# SALES SECTION 
.sales-section
  .row.g-0
    .col-sm-12.col-lg-3
      .sales-side-section
        .vehicle-form 
          %form 
            %legend Select Your Vehicle
            .mb-3 
              %select.form-select.mb-3{"aria-label" => " example"}
                %option{:selected => "selected"} Year
                %option{:value => "1"} One
                %option{:value => "2"} Two
                %option{:value => "3"} Three
            .mb-3 
              %select.form-select.mb-3{"aria-label" => " example"}
                %option{:selected => "selected"} Make
                %option{:value => "1"} One
                %option{:value => "2"} Two
                %option{:value => "3"} Three
 
            .mb-3 
              %select#model-select.form-select.mb-3{"aria-label" => " example"}
                %option{:selected => "selected"} Model
                %option{:value => "1"} One
                %option{:value => "2"} Two
                %option{:value => "3"} Three
 
        .extra-advertisements
          .first-advertisement
            %img.first-advertisemnt-image{:src => "https://fcp-creative.fcpeuro.com/Homepage/Sidebar/What-do-you-drive-sidebar-Q3-2020.jpg"}
          .second-advertisement
            %img.first-advertisemnt-image{:src => "https://fcp-creative.fcpeuro.com/Homepage/Sidebar/Covid-19-Sidebar-Q3-2020.jpg"}
          .third-advertisement
            %img.first-advertisemnt-image{:src => "https://fcp-creative.fcpeuro.com/Homepage/Sidebar/OE-academy-sidebar-Q3-2020.jpg"}
    .col-sm-12.col-lg-9
      .row.g-0
        .col-12.sales-image-box 
          = image_tag "/assets/old-mercedes.jpg", :class => "sales-image"
      .blog-section
        .row
          .blog-header 
            %h2 Quality Replacement European Car Parts
            %span Read More Blog Post 
          .col-sm-12.col-md-6.first-row-blogs
            .blog-post
              %img.blog-images{"data-src" => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201230_UPDATE_VW-TDI-INTAKE-FLAP/vw-tdi-intake-flap-header.jpg?width=493", :height => "277", :src => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201230_UPDATE_VW-TDI-INTAKE-FLAP/vw-tdi-intake-flap-header.jpg?width=493", :width => "492"}/
              %h2.blog-post-title How To Add A Bigger Turbo To Your Mercedes Diesel 
              %p  If you own a VW TDI, there’s one fault code that has either shown up already, or will at some point in its lifetime—that code is the infamous P2015. With nothing more than a simple bracket, you can fix this check...
              %span Read More
          .col-sm-12.col-md-6.first-row-blogs
            .blog-post
              %img.blog-images{"data-src" => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201230_UPDATE_VW-TDI-INTAKE-FLAP/vw-tdi-intake-flap-header.jpg?width=493", :height => "277", :src => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201230_UPDATE_VW-TDI-INTAKE-FLAP/vw-tdi-intake-flap-header.jpg?width=493", :width => "492"}/
              %h2.blog-post-title How To Add A Bigger Turbo To Your Mercedes Diesel 
              %p  If you own a VW TDI, there’s one fault code that has either shown up already, or will at some point in its lifetime—that code is the infamous P2015. With nothing more than a simple bracket, you can fix this check...
              %span Read More
          
        .row
          .col-sm-12.col-md-4.second-row-blogs
            %img.blog-images{:src => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201228_DIY_BMW-F30-COILOVER-X/Header.jpg?width=493"}/
            %h3.blog-post-title How To Add A Bigger Turbo To Your Mercedes Diesel 
            %p  If you own a VW TDI, there’s one fault code that has either shown up already, or will at some point in its lifetime—that code is the infamous P2015. With nothing more than a simple bracket, you can fix this check...
            %span Read More
          .col-sm-12.col-md-4.second-row-blogs
            %img.blog-images{:src => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201228_DIY_BMW-F30-COILOVER-X/Header.jpg?width=493"}/
            %h3.blog-post-title How To Add A Bigger Turbo To Your Mercedes Diesel 
            %p  If you own a VW TDI, there’s one fault code that has either shown up already, or will at some point in its lifetime—that code is the infamous P2015. With nothing more than a simple bracket, you can fix this check...
            %span Read More
          .col-sm-12.col-md-4.second-row-blogs
            %img.blog-images{:src => "https://cdn2.hubspot.net/hub/3867393/hubfs/Images/Blog/active/20201228_DIY_BMW-F30-COILOVER-X/Header.jpg?width=493"}/
            %h3.blog-post-title How To Add A Bigger Turbo To Your Mercedes Diesel 
            %p  If you own a VW TDI, there’s one fault code that has either shown up already, or will at some point in its lifetime—that code is the infamous P2015. With nothing more than a simple bracket, you can fix this check...
            %span Read More
        .row
          .col-12.col-md-6.sales-service-kits
            %img.blog-images{:src => "https://www.fcpeuro.com/assets/homepage/explore_service_kits-c1d76534742eab33dc8603cf083c9af88e8458889bbf69b14d36003d43964aad.jpg"}/
          .col-12.col-md-6.sales-service-kits
            %img.blog-images{:src => "https://www.fcpeuro.com/assets/homepage/explore_clearance-13c8bcc398f78899d8dfbb5b5da3f5d76a6c213f94b80fffd392d628a67b6563.jpg"}/

            


-# STORY
.story-section.container-fluid 
  .row 
    .col-sm-0.col-md-2
    .col-sm-12.col-md-8
      %h2 Genuine, OE, & OEM Online Car Parts Online Catalog 
      %p At FCP Euro, we're proud to offer quality replacement car parts, a hand-curated catalog, an unbeatable Lifetime Parts Replacement Guarantee, all backed by one of the best customer service teams in the Automotive industry.

      %p Our online parts catalog features over 350,000 Genuine, OE, and OEM replacement parts including Volvo Parts, BMW Parts, Audi Parts, VW Parts, Mercedes Parts, Porsche Parts, and Saab Parts from a variety of top-quality manufacturers. Visit our OE Academy to learn more about brand quality and view interactive examples of exactly why so many customers and european car enthusiasts have come to love our catalog over the years.

      %p Our primary product offering is built with the European Automotive enthusiast in mind which is why we only sell the highest quality OE, OEM and Genuine parts for BMW, Volvo, Audi, VW, and Mercedes as well as select items cataloged for Porsche, Rover, Jaguar, and Saab

      %p All replacement parts you buy are backed by our Lifetime Replacement Guarantee which includes consumables and wear and tear items like brake pads, gaskets, rotors, filters, and wiper blades. When you order an auto part from us, you'll never have to pay for it again.

      %h2 The FCP Euro Story and Vision
      %p FCP Euro was established by Harry and Kathy Bauer in 1986 as a brick and mortar auto parts store located in Groton, Connecticut servicing the local Volvo and BMW parts markets. In 2001 the brick and mortar store was taken online through Ebay by Nick Bauer and good friend Scott Drozd. Over the next few years Nick and Scott began to develop a website where they listed the entire catalog online of European Car Parts as well as develop their kitted products and reputation for great customer service.

      %p It is our vision to be the most valued and trusted European online auto parts retailer in the world, through the relentless pursuit of quality and service. We pride ourselves in offering the highest quality replacement auto parts, unparalleled customer service, and providing the do-it-yourself enthusiast the knowledge and technical support to help maintain and own their vehicles. We do this by hand curating our catalog with only the highest quality OEM parts such as Bosch, Sachs, Bilstein, Lemforder, and Brembo. We have developed an extensive YouTube library of Do-It-Yourself instructional content that help car owners fix and maintain their vehicles, with hopes of providing them a more enjoyable car ownership experience.

      %p Based out of Milford, CT, our 100,000 square foot distribution center holds over $10 Million of in-stock inventory ready to ship out the same day. We’ve committed ourselves to building our company based on quality, service, and continuous improvement, and we recognize that the growth and success of FCP Euro over the years is because of customers like you who faithfully support our business. Thank you.

      %p To learn more about our story, how we came to be, and where we plan on going, take a look at our About Us page.

      %p We look forward to serving you for many years to come,

      %p Nick Bauer (President & Founder)
      %p Scott Drozd (Chief Executive Officer)
      .col-sm-0.col-md-2








-# FOOTER 

.footer 
  .container-fluid
    .row 
      .col-12.col-md-6.col-lg-3
        .footer-logo-box
          %h1 Benz Parts 
          %p Get help answering any questions you have 
        .footer-contact-us-box 
          .contact-us-text
            %span Contact Us 
            %i.fa.fa-envelope{"aria-hidden" => "true"}
        .footer-social-links-box
          %i.fa.fa-shopping-cart.footer-social-links{"aria-hidden" => "true"} 
          %i.fa.fa-shopping-cart.footer-social-links{"aria-hidden" => "true"}
          %i.fa.fa-shopping-cart.footer-social-links{"aria-hidden" => "true"} 
      .col-12.col-md-6.col-lg-3
        %ul.footer-list
          %h5.footer-list-title Customer Service 
          %li Contact Us 
          %li Order Status & Tracking 
          %li Returns & Exchanges
          %li Lifetime Replacement Guarantee
          %li Shipping Policy 
          %li Deals & Coupons
          %li FAQ
      .col-12.col-md-6.col-lg-3.order-2.order-md-1.order-lg-2
        .footer-email-title 
          %i.fa.fa-envelope{"aria-hidden" => "true"}
          %span Special offers, news, & promos 
        = render 'subscriber_form'
        .footer-ratings-box 
          %i.fa.fa-star-o{"aria-hidden" => "true"}
          %i.fa.fa-star-o{"aria-hidden" => "true"}
          %i.fa.fa-star-o{"aria-hidden" => "true"}
          %i.fa.fa-star-o{"aria-hidden" => "true"}
          %i.fa.fa-star-o{"aria-hidden" => "true"}
      .col-12.col-md-6.col-lg-3.order-1.order-md-2.order-lg-1
        
        %ul.footer-list
          %h5.footer-list-title About FCP Euro 
          %li About Us
          %li Privacy Policy 
          %li DIY Blog
          %li OE Academy 
          %li We're Hiring!
          %li Terms of Service 
  .copyright 
    %p © Benz Parts 2020. All rights reserved.

    

         

       
    
