$primary: white
$breakpoint-tablet: 992px
$breakpoint-phone: 624px


body 
    background-color: white 

.logo-large 
    font-size: 20px
    padding: 0px 10px

@media (min-width: $breakpoint-tablet) 
    .logo-large 
        font-size: 40px
        padding: 0px 50px


    

