$primary: white
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$breakpoint-xxl: 1400px
$soft-white: #f5f5f5
$off-white: #F7F8F9
$off-black: #171819
$faded: rgba(255,255,255,0.5)
$light-grey: #687475


body 
    background-color: white 

#logo-large 
    font-size: 20px
    padding: 0px 10px

.navbar li 
    font-size: 14px

.guarantee-bar 
    display: flex 
    justify-content: space-evenly
    padding: 9px 5px
    background-color: $soft-white
    border-top: 0.5px solid black 
    border-bottom: 0.5px solid black
    font-size: 14px

.mini-parts-bar 
    display: none

.sales-section 
   padding: 0px 0px 30px 0px

.sales-side-section 
    position: -webkit-sticky
    position: sticky
    top: 4rem 

.vehicle-form 
    background-color: lightgreen
    padding: 19px 24px
    
.extra-advertisements
    // display: none


.sales-image 
    height: 70vh 
    background-color: orange

.blog-section h2, .blog-section h3 
    color: $off-black

.blog-section p 
    color: $light-grey


.blog-header 
    display: flex 
    justify-content: space-between
    align-items: center
    padding: 24px 0px

.blog-images 
    width: 100%

.sales-service-kits 
    height: 30vh 
    background-color: red
.story-section
    padding: 80px 0px
    background-color: grey 
    color: $off-white

.footer 
    background-color: black 
    color: white
    padding: 75px 24px 0px 24px

.footer-logo-box 
    text-align: center
    font-size: 14px
.footer-logo-box p 
    color: $faded

.footer-list
    padding: 30px 0px 
    text-align: center

.footer-list li 
    list-style-type: none
    color: $faded
    font-size: 14px
   

.footer-contact-us-box 
    border: solid white 1px
    display: flex 
    justify-content: center
.contact-us-text 
    padding: 10px 0px
.footer-social-links-box
    display: flex 
    justify-content: space-evenly
    margin: 15px 0px
.footer-social-links-box
    font-size: 30px

.footer-email-title 
    font-size: 18px
    padding-bottom: 8px
#footer-form-input
    width: 80%

#footer-form-btn
    display: inline

.copyright
    display: flex 
    justify-content: center
    padding: 20px 0px

@media (min-width: $breakpoint-lg) 
    #logo-large 
        font-size: 40px
        padding: 0px 50px
    .mini-parts-bar 
        display: flex 
        justify-content: space-evenly
        align-items: center
        padding: 8px 5px
        font-size: 12px
    
    .extra-advertisements
        height: 100vh
        display:relative
    .first-advertisement 
        height: 20vh
        background-color: red

    .second-advertisement
        height: 20vh 
        background-color: darkgreen
        margin: 5px
    .third-advertisement
        height: 40vh 
        background-color: blue
        margin: 5px
    .footer-logo-box 
        text-align: left
    .footer-list 
        text-align: left 


    

